# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/


# This helps Jekyll keep track of which files have not been modified since the
# site was last built, and which files will need to be regenerated on the next
# build. Only created when using incremental regeneration
# (e.g.: with jekyll serve -I).
.jekyll-metadata
